@using Microsoft.AspNetCore.Components

<div class="moogle-title">
    <span class="letter" style="color: #EA4335;">M</span>
    <span class="letter" style="color: #4285F4;">o</span>
    <span class="letter" style="color: #FBBC05;">o</span>
    <span class="letter" style="color: #4285F4;">g</span>
    <span class="letter" style="color: #34A853;">l</span>
    <span class="letter" style="color: #EA4335;">e</span>
    <span class="letter" style="color: #4285F4;">!</span>
</div>

@code {

}