@using Microsoft.AspNetCore.Components
@using MoogleEngine

@if (Results != null && Results.Any())
{
    <div class="search-results">
        @foreach (var result in Results)
        {
            <div class="result-item">
                <h4 onclick="OnDocumentClick">@result.Title</h4>
                <p><strong>File:</strong> @result.Title</p>
                @if (result.RelevantPages.Any())
                {
                    <p><strong>Pages:</strong> @string.Join(", ", result.RelevantPages)</p>
                }
                <p>@result.Snippet</p>
                
            </div>
        }
    </div>
}

@code {
    [Parameter] public IList<SearchItem>? Results { get; set; }
    private async Task OnDocumentClick()
    {
        
    }
}