@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer

<div class="search-bar">
    <input type="text" @bind="query" placeholder="Search query..." class="search-input" autocomplete="off" />
    <button @onclick="PerformSearch" class="search-button">Search</button>
</div>

@code {
    private string query = "";
    [Parameter] public EventCallback<string> OnSearch { get; set; }

    private async Task PerformSearch()
    {
        if (!string.IsNullOrWhiteSpace(query))
        {
            await OnSearch.InvokeAsync(query);
        }
    }
}